node_modules
.next
out
build
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
*.db
*.db-journal
*.db-shm
*.db-wal
*.db.backup
dev.db.backup
dev.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Test coverage
coverage
.vercel
